@model IEnumerable<AssignmentApp.Models.Course>

@{
    ViewBag.Title = "MyCourse";
    Layout = "~/Views/Shared/Tutor_Layout.cshtml";
}

<h2>My Course</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.Tutor.TutorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Tutor.TutorName)
            </td>
        </tr>
    }

</table>